[mcu scanner]
canbus_uuid: 855bf958b908 #canbus_uuid=855bf958b908 can0:8b4bed5be946
#serial: /dev/serial/by-id/usb-cartographer_cartographer_
#    adjust to suit your scanner, if using usb change to serial

[scanner]
mcu: scanner            
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
x_offset: 0
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 26.95
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.00561
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc
mesh_runs: 2
#    Number of passes to make during mesh scan.

[bed_mesh]
zero_reference_position: 150, 150
#    set this to the middle of your bed
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 30, 30 #TODO: calibrate percice
#    start point of bed mesh [X, Y]
mesh_max: 270, 270 #TODO: calibrate percice
#    end point of bed mesh [X, Y]
probe_count: 30, 30
algorithm: bicubic

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105

#[adxl345] #TODO: implement
#cs_pin: scanner:PA3
#spi_bus: spi1

#[resonance_tester] #TODO: implement
#accel_chip: adxl345
#probe_points:
#    125, 125, 20

[safe_z_home]
home_xy_position: 150, 150
# Example home_xy_position: 175,175 - This would be for a 350 * 350mm bed. 
z_hop: 10






